!!!
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/jquery.dragsort-0.5.1.min.js')
      script(src='/javascripts/jquery.json-2.3.min.js')
      script(src='/javascripts/utils.js')
  body!= body