body
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif

ul
  margin 0 6px 0 6px
  width 350px
  list-style-type none
  float left
  padding 0
  li 
    padding 5px
    div
      border solid 1px black
      background-color #FFFF99
      span
        display block
    div.selected
      border solid 2px red
      

.columnheader
  text-align center
  div
    background-color white
    border none

.placeHolder
  background-color white !important
  border dashed 1px gray !important
  div
    border none

input
  width 80%